.waves-container {
    position: relative;
    display: block;
    width: 80px;
    margin: 100px auto 300px;
  }
  .waves-container .delay1 {
    -webkit-animation: waves 2.5s infinite linear;
            animation: waves 2.5s infinite linear;
            -webkit-animation-delay: 0.1s infinite;
            animation-delay: 0.1s infinite;
  }
  .waves-container .delay2 {
    -webkit-animation: waves 2.5s infinite linear 0.7s forwards;
            animation: waves 2.5s infinite linear 0.7s forwards;
  }
  .waves-container .delay3 {
    -webkit-animation: waves 2.5s infinite linear 1.3s forwards;
            animation: waves 2.5s infinite linear 1.3s forwards;
  }
  .waves-container .delay4 {
    -webkit-animation: waves 2.5s infinite linear 1.9s forwards;
            animation: waves 2.5s infinite linear 1.9s forwards;
  }
  
  
  .circle {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #0FEF79;
    margin: 10px;
    transition: .1s ease;
    position: absolute;
    top: 0px;
  }
  
  @-webkit-keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  @-webkit-keyframes bloop {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes bloop {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }