*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #1a1a1a;
    color: #2d2d2d;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  
.top{
    width: 100%;
    margin: auto;
    padding: 20px;
    color: #2d2d2d;
}
.top h1{
    font-size: 40px;
}
.intro p{
    font-size: 20px;
}
.intro{
    background-image: linear-gradient( #0fef789d,#adadad, #adadad, #adadad, #adadad, #adadad, #adadad);
    margin-top: 200px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 90px 30px 0 25px;
    height: 115vw;
}
span{
    font-weight: bold;
}
.buttons{
    margin-top: 20px;
}
.buttons a{
    text-decoration: none;
}
.btnWrapper{
    height: 20vw;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    z-index: 999;
    color: #0FEF79;
}

.btnWrapper button{
    padding: 10px 20px;
    background-color: #0FEF79;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: bolder;
    height: 60px;
    width: 200px;
    border: none;
    margin-left: -22px;
    border-radius:  50px;
}
.btn{
    padding: 10px 20px;
    background-color: #0FEF79;
    color: #2d2d2d;
    font-size: 20px;
    border: none;
    margin-left: -15px;
    border-radius: 50px;
    text-align: center;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2d2d;
    padding: 20px;
}
header i{
    padding: 20px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: #2d2d2d;
}

.brand-logo{
    width: 100%;
    height: 10vh;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
footer i{
    background-color: #0FEF79;
    padding: 20px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: #2d2d2d;
}
main{
    align-items: center;
    color:#2d2d2d;
    font-size:30px;
    padding: 20px;
}
main > .output{
    font-size: 20px;
    display: inline-block;
    color: #0FEF79;
}


.custom-bottom-value{
    bottom: 70px;
}

#toggleTextBtn{
    text-decoration: none;
}
h4{
    color: #0FEF79;
}